.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
    border: 2px solid #a9a6a5;
    max-width: 20%;
    margin: auto;
    border-radius: 15px;
    margin-top: 50px;
    background: linear-gradient(to right, #d0bdd8, #8b6685, #5a455a, #433e41);
    color: #fff;
  }
  
  .login-form > input {
    margin: 10px 0;
    color: black;
    background-color: #fff;
  }
  
  .login-submit {
    cursor: pointer;
    padding: 10px 20px;
    color: #333;
    border-radius: 5px;
    border: 1px solid #a9a6a5;
    background-color: transparent;
    transition: all 0.2s;
  }
  
  .login-submit:hover {
    background-color: #c0a0cb;
    color: #fff;
    
  }
  